#dialog.yui3-g{:title => "Lemma bearbeiten"}
  %form#lemmaForm
    %fieldset
      .yui3-u-1-2
        %label{:for => "lemma_input"} Lemma
        %input#lemma_input.text.ui-widget-content.ui-corner-all{:name => "lemma_input", :type => "text"}/
      .yui3-u-1-2
      .yui3-u-1-2
        %label{:for => "translationSource_0"} Beispiel
        %input#translationSource_0.text.ui-widget-content.ui-corner-all{:name => "translationSource_0", :type => "text"}/
      .yui3-u-1-2
        %label{:for => "translationTarget_0"} Beispiel Übersetzung
        %input#translationTarget_0.text.ui-widget-content.ui-corner-all{:name => "translationTarget_0", :type => "text"}/
      .yui3-u-1-2
        %label{:for => "translationSource_1"} Beispiel 1
        %input#translationSource_1.text.ui-widget-content.ui-corner-all{:name => "translationSource_1", :type => "text", :value => ""}/
      .yui3-u-1-2
        %label{:for => "translationTarget_1"} Beispiel Übersetzung 1
        %input#translationTarget_1.text.ui-widget-content.ui-corner-all{:name => "translationTarget_1", :type => "text"}/
