$graphite: #1D1D1F;
$brown: #593325;
$gray: #606362;
$mint: #8AB29F;
$beige: #F2E6CE;
$black: #000000;

html {
  font: 13 helvetica,arial,clean,sans-serif;
  color: $graphite;
  *font-size: small;
  *font: x-small;
}

#doc{
  margin:auto; /* center in viewport */
  width: 970px; /* fix page width */
}

.yui3-g .content {
  font-size: 182%;
  margin-right:10px; /* "column" gutters */
  padding: 0.5em;
  a {
    text-decoration: none;
    color: $graphite;
    &:hover {
      background: $beige;
      color: $graphite;
    }
  }
  ul {
    margin-left: 0px;
    li {
      list-style: none;
    }
  }
}

#ft {
  font-size: 77%;
  margin: 50px 0px;
  a {
    text-decoration: none;
    color: $graphite;
    background: $beige;
  }
}
