$graphite: #1D1D1F;
$brown: #593325;
$gray: #606362;
$mint: #8AB29F;
$beige: #F2E6CE;
$black: #000000;
$green: #1D8823;
$violet: #881D48;

body {
  color: #1d1d1f;
  a {
    text-decoration: none;
    color: #1d1d1f;
    &:visited {
      color: #1d1d1f;
    }
  }
}

#search {
  label {
    display:block;
    font-weight:bold;
  }
  fieldset {
    padding:0;
    border:0;
    margin-top:25px;
  }
  input[type="text"] {
    width:20em;
  }
}

.content {
  font-size: 145%;
  a {
    &:hover {
      background: $beige;
    }
  }
  ul {
    margin-left: 0em;
    padding-left: 0em;
    li {
      list-style: none;
      line-height: 1.3em;
    }
  }
  .fix {
    color: $violet;
  }
  .lemma {
    padding-top: 1em;
  }
  .pageButton {
    font-size: 77%;
    font-family: Arial;
  }
}

#dialog {
  label, input {
    display:block;
  }
  input.text {
    margin-bottom:12px; width:95%; padding: .4em;
  }
  fieldset {
    padding:0; border:0; margin-top:25px;
  }
}

#disqus_thread {
  margin: 5em 0em;
  a {
    background: $beige;
  }
}

#ft {
  font-size: 77%;
  margin: 5em 0em;
  a {
    background: $beige;
  }
}
