!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Farhang
    %link{:href => "/f.png", :rel => "icon", :type => "image/png"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/960.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/normalize.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/formalize.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-ui-1.8.16.custom.css", }/
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/layout.css"}
    %script{:type => "text/javascript", :src => "/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/js/jquery-ui-1.8.16.custom.min.js"}
    %script{:type => "text/javascript", :src => "/js/jquery.formalize.min.js"}
    %script{:type => "text/javascript", :src => "/js/application.js"}
  %body
    .container_12
      .grid_2
        %p
      .grid_9
        %a{:href => '/', :alt => 'return to start page'}
          %img{:alt => 'Farhang', :src => '/farhang.png'}/
        .content
          %form#search{:action => "/search", :method => "get", :name => 'search'}
            %fieldset
              %p
                %label{:for => "term"} Einträge suchen
                %input{:type => "text", :name => "term", :id => "searchform"}/
                %input{:type => "submit", :value => "Suchen"}/
          =yield
        -if production?
          =haml :disqus
        #ft
          %img{:alt => "Creative Commons Lizenzvertrag", :src => "http://i.creativecommons.org/l/by-sa/3.0/80x15.png", :style => "border-width:0"}/
          %br/
          %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"} farhang
          von
          %span{:property => "cc:attributionName", "xmlns:cc" => "http://creativecommons.org/ns#"} ckh
          steht unter einer
          = succeed "." do
            %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/", :rel => "license"} Creative Commons Namensnennung-Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz
          %p
          Aktueller Datenstand: 16. Oktober 2011
          %br
            Die Daten werden auf Github gehosted:
          %a{:href => 'https://github.com/ckh/farhang', :alt => 'ckh/farhang'}github.com/ckh/farhang
          %br
          %a{:href => 'https://github.com/burningTyger/farhang-app', :alt => 'farhang-app on Github'}farhang-app
          Version #{FARHANG_VERSION} – © 2011 bT
        =haml :dialog