$graphite: #1D1D1F;
$brown: #593325;
$gray: #606362;
$mint: #8AB29F;
$beige: #F2E6CE;
$black: #000000;
$green: #1D8823;
$violet: #881D48;

html {
  font: 13 helvetica,arial,clean,sans-serif;
  color: $graphite;
  *font-size: small;
  *font: x-small;
  a {
    text-decoration: none;
    color: $graphite;
  }
}

#doc{
  margin: auto; /* center in viewport */
  width: 970px; /* fix page width */
}

#searchform{
  width: 20em  
}

.yui3-g .content {
  font-size: 182%;
  margin-right:1em; /* "column" gutters */
  padding: 0.5em;
  a {
    &:hover {
      background: $beige;
    }
  }
  ul {
    margin-left: 0em;
    li {
      list-style: none;
    }
  }
  .rtl {
    direction: rtl;
  }
  .fix {
    color: $violet;
  }
  .lemma {
    font-size: 77%;
    color: $green;
  }
  .pageButton {
    font-size: 77%;
  }
}

#disqus_thread {
  margin: 5em 0em;
  a {
    background: $beige;
  }
}

#ft {
  font-size: 77%;
  margin: 5em 0em;
  a {
    background: $beige;
  }
}
