- if lemmas
  - lemmas.each do |l|
    %li.lemma
      %b
        %a{:href => "/lemma/#{l.id}"}= l.lemma
      - l.translations.each do |t|
        %li.translation
          - if t.target
            = t.source
            = t.target
- else
  #unsuccessful Keinen Eintrag gefunden
