-if lemmas
  %ul
    %b
      = lemmas.lemma
    - lemmas.translations.each do |t|
      %li
        %a{:href => "/translation/#{t.id}"}
          - if t.target
            = t.source
            = t.target
