- unless lemmas.nil?
  %ul
    - lemmas.each do |l|
      %li
        %b= l.lemma
        %br
        - l.translations.each do |t|
          %li
            = t.source
            = t.target
        %p
              