- unless lemmas.nil?
  %ul
    - lemmas.each do |l|
      %p
        %li
          %b
            %a{:href => "/lemma/#{l.id}"}= l.lemma
        - l.translations.each do |t|
          %li
            - if t.target
              = t.source
              = t.target
