%link{:href => "/css/jquery.tagsinput.css", :rel => "stylesheet", :type => "text/css"}
%script{:src => "/js/jquery.tagsinput.min.js", :type => "text/javascript"}
%script{:src => "/js/translations.js", :type => "text/javascript"}

- unless translation.nil?
  %ul
    - translation.each do |t|
      %p
        %li{:class => ("fix" if t.fix)}
          = t.source
          = t.target
          %br
          %input{:name => "tags", :id => "tags_#{t.id}", :value => "#{t.lemmas.map{ |l| l.lemma }.join(', ')}"}
  - if @prev_page
    %a{:href => @prev_page, :class => "pageButton"}vorherige Seite
  - if @next_page
    %a{:href => @next_page, :class => "pageButton"}nächste Seite
