%script{:src => "/assets/js/jquery.tagsinput.min.js", :type => "text/javascript"}
%link{:href => "/css/jquery.tagsinput.css", :rel => "stylesheet", :type => "text/css"}
%script{:src => "/assets/js/translations.js", :type => "text/javascript"}
%link{:href => "/assets/css/jquery-ui-1.8.14.custom.css", :rel => "Stylesheet", :type => "text/css"}/
%script{:src => "/assets/js/jquery-ui-1.8.14.custom.min.js", :type => "text/javascript"}
%script{:src => "/assets/js/jquery.ui.autocomplete.selectFirst.js", :type => "text/javascript"}

- unless translation.nil?
  %ul
    - translation.each do |t|
      %p
        %li{:class => ("fix" if t.fix)}
          = t.source
          = t.target
          %br
          %input{:name => "tags", :id => "tags_#{t.id}", :value => "#{t.lemmas.map{ |l| l.lemma }.join(', ')}"}
  - if @prev_page
    %button
      %a{:href => @prev_page}vorherige Seite
  - if @next_page
    %button
      %a{:href => @next_page}nächste Seite
